.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.mainHeading {
    font-size: 2.5vw;
    font-weight: bold;
    color: #000;
    margin-top: 2vw;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 50vw;
}

.form label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    width: 100%;
    padding: 0.5vw;
    font-size: 1.5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.phoneInput {
    width: 100% !important;
    height: 3vw !important;
    padding: 0.5vw;
    font-size: 1.5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}