.main {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: 96vw;
    height: 96vh;
    background-color: #eaeaea;
    padding: 2vw;
}

.heading {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 2vw;
    text-align: center;
}