.main {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: 96vw;
    height: 96vh;
    background-color: #eaeaea;
    padding: 2vw;
    overflow: scroll;
}

.heading {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 2vw;
    text-align: center;
}

.menu__li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    border-bottom: 1px solid #000;
    padding-bottom: 1vw;
}

.menu__li input {
    width: 10vw;
    height: 2vw;
    font-size: 1.5vw;
    text-align: center;
}